@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@import url('https://fonts.googleapis.com/css?family=Tangerine');

@import url('https://fonts.googleapis.com/css?family=Pacifico');


@import url('https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight');

@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');


/* ^^ import your fonts above this line ^^ */

/* header styles */

.lead {
  font-size: 1.5em;
  width: 75%;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hero {
  display: block;
  margin: auto;
  width: 50%;
  font-size: 2em;
}

.caption {
  width: 50%;
  display: block;
  margin: auto;
  font-style: italic;
}

/* main section styles */

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* order styles styles */

.order {
  width: 190px;
  height: 190px;
  padding: 5px;
  border: solid 5px black;
}

.order i {
  vertical-align: middle;
}

/* custom order styles */
.tyreke{
  background:linear-gradient(blue, red, tan);
  font-family: 'Tangerine', cursive;
  border:none;
}

.mr-demond {
  border-color: red;
  background: red;
  color: white;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
}


.zimmie {
  border-style: dashed;
 font-family: 'Zilla Slab Highlight', cursive; 
background:blue;
color:lightgray;
border-radius: 20px;
border-color: darkgray;
}

.jabari {
  border: #FF3100;
  background-color: #86DBBE;
  border-radius: 2%;
  font-family: 'Sedgwick Ave Display', cursive;
  color: #FF3100;
  box-sizing: border-box;
  border-style: double;
  height: 225px;
}

.ms-arelia {
  border-color: #369;
  background-color: #369;
  color: pink;
}

.ms-arelia i {
  vertical-align: baseline;
}

