@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Oswald|PT+Sans');

/* ^^ import your fonts above this line ^^ */

/* header styles */

.lead {
  font-size: 1.5em;
  width: 75%;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hero {
  display: block;
  margin: auto;
  width: 50%;
  font-size: 2em;
}

.caption {
  width: 50%;
  display: block;
  margin: auto;
  font-style: italic;
}

/* main section styles */

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* order styles styles */


.order {
  width: 190px;
  height: 190px;
  padding: 5px;
  border: solid 5px black;
}

.order i {
  vertical-align: middle;
}

/* custom order styles */

.mr-demond {
  border-color: red;
  background: red;
  color: white;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
}

.joanmarie{
  background-color:gold;
  color:black;
  padding:5%;
  font-family: 'Oswald', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Droid Sans', sans-serif;
margin:0;
}

.derek-fa{
  color:pink;
  
}